#header{
	border-style: solid;
	border-color: black;
	border-left-color: inherit;
	height: 75px;
}
#toolbar{
	margin: 0px 10px 5px 10px;
}
.toolbar-item{
	background-color: white;
	float: left;
	height: 20px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;

	border-radius: 5px;
}
.toolbar-item:hover{
	background-color: lightgray;
}
.toolbar-item-label{
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
}

#blockly_area{
	/*border-style: solid;
	border-color: black;
	border-radius: 2px;
	border-width: 10px;*/

    height: 480px;
    width: 50%;
}

#projectname_input{
	margin: 10px 10px 3px 10px;
	height: 30px;
	width: 20%;
	padding-left: 10px;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	font-family: 'Nunito', serif;

	outline-width: 0px;
	outline-color: white;
	outline-style: solid;

	border-color: lightgray;
	border-radius: 1px;
	border-width: 1px;
	border-style: solid;
}
#projectname_input:focus{
	width: 95%;

	outline-width: 3px;
	outline-color: dodgerblue;
	outline-style: solid;
}

.dropdownmenubtn{
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
}
.dropdownmenubtn:hover{
	border-style: dotted;
}
.dragableTextbox{
	width: 100%;
}



/* Window Dual-Pane Width slider*/
.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 20px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover{
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 20px;
	background: #4CAF50;
	cursor: pointer;

	-webkit-transition: .2s;
	transition: height .2s;
}
.slider::-webkit-slider-thumb:hover {
	height: 25px;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 20px;
	background: #4CAF50;
	cursor: pointer;

	transition: height .2s;
}
.slider::-moz-range-thumb:hover {
	height: 25px;
}



/* Old */
/*
.dragable{
	list-style-type: circle;
	border-style: solid;
	border-radius: 50px;
	border-color: green;
	width: 99%;
	padding-left: 10px;
	padding-right: 10px;
}
.prefabs{
	list-style-type: circle;
	border-style: solid;
	border-radius: 50px;
	border-color: green;
	width: 97%;
	padding-left: 10px;
}*/

/*
#DragableTable{
	border-style: solid;
	border-color: black;
	margin-top: 10px;
	width: 60%;
	float: right;
}
#PrefabTable{
	border-style: solid;
	border-color: gray;
	margin-top: 10px;
	width: 39%;
	float: left;
}
#PrefabList{

}*/

/*li{
	font-size: 25;
}
li:hover{
	border-radius: 10%;
}*/


/*
h1, p{
	font-family: sans-serif;
}
.toolbartabs{
	position: static !important;

}
.center{
	text-align: center;

}
.LeftMargin{
	margin-left: 10px;
}


#FileTab{
	float: left;
}
#EditorTab{
	float: left;
}
#ViewTab{
	float: left;
}
#SettingsTab{

}
 */